.parallax-window {
    background-image: url(../img/activity-bg.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.grid-img {
  width: 250px;
  height: 150px;
}

.custom-form-control {
  width: 80%;
}

.form-error {
  font-size: 1.5em;    
  padding-top: 8px;
  color: red;
}
