<md-list class="date">
    <md-subheader class="md-no-sticky"><span translate="QUICKPANEL.TODAY">Today</span></md-subheader>
    <md-list-item class="md-display-1 md-2-line" layout="column" layout-align="start start">
        <div class="secondary-text">
            <div> {{vm.date | date:'EEEE'}}</div>
            <div layout="row" layout-align="start start">
                <span> {{vm.date | date:'d'}}</span>
                <span class="md-subhead">th</span>
                <span> {{vm.date | date:'MMMM'}}</span>
            </div>
        </div>
    </md-list-item>
</md-list>

<md-divider></md-divider>

<md-list>
    <md-subheader class="md-no-sticky"><span translate="QUICKPANEL.NOTES">Notes</span></md-subheader>
    <md-list-item class="md-2-line" ng-repeat="note in vm.notes" ng-click="dummyFunction()">
        <div class="md-list-item-text">
            <h3>{{note.title}}</h3>

            <p>{{note.detail}}</p>
        </div>
    </md-list-item>
</md-list>
