<section class="course">
  <h3>Adding Course, please fill the below create a course.</h3>
  <form name="courseForm">
    <steps>
      <!-- Address Step-->
      <step>
        <md-card>
         <md-card-content>
           <h2>Let us know the address.</h2>
           <md-input-container>
            <label>Address</label>
            <input type="text" ng-model="vm.address" name="address" required md-maxlength="100">
          </md-input-container>
         </md-card-content>
         <md-card-footer>
           <md-button class="md-accent">Cancel</md-button>
           <md-button class="md-primary  md-raised" step-next="vm.computeAddress()" ng-disabled="courseForm.address.$invalid">Next Step</md-button>
         </md-card-footer>
        </md-card>
      </step>

      <!-- Course Name Step-->
      <step>
        <md-card>
          <md-card-content>
            <h2>Course Name</h2>
            <md-input-container>
             <label>Name</label>
             <input type="text" ng-model="vm.courseName" required md-maxlength="100" name="courseName">
           </md-input-container>
          </md-card-content>
          <md-card-footer>
            <md-button class="md-accent" step-previous>Previous</md-button>
            <md-button class="md-primary  md-raised" step-next="vm.computeCourseName()" ng-disabled="courseForm.courseName.$invalid">Next Step</md-button>
          </md-card-footer>
        </md-card>
      </step>

      <!-- Course Description Step-->
      <step>
        <md-card>
         <md-card-content>
           <h2>Course Description</h2>
           <md-input-container>
            <label>Description</label>
            <textarea rows="3" cols="100" ng-model="vm.courseDesc" required md-maxlength="500" name="courseDesc">
            </textarea>
          </md-input-container>
         </md-card-content>
         <md-card-footer>
           <md-button class="md-accent" step-previous>Previous</md-button>
           <md-button class="md-primary  md-raised" step-next="vm.computeCourseDescription()" ng-disabled="courseForm.courseDesc.$invalid">Next Step</md-button>
         </md-card-footer>
        </md-card>
      </step>

      <!-- Course category Step-->
      <step>
        <md-card>
          <md-card-content>
            <h2>Choose Course Genre</h2>
            <md-input-container>
              <select ng-model="vm.selectedCourseCategory" data-ng-options="item as item.categoryName for item in vm.categoryList" name="courseCategory" required>
                <option value="" selected>Choose Category</option>
              </select>
            </md-input-container>
          </md-card-content>
          <md-card-footer>
            <md-button class="md-accent" step-previous>Previous</md-button>
            <md-button class="md-primary  md-raised" step-next="vm.computeCourseCategory()" ng-disabled="courseForm.courseCategory.$invalid">Next Step</md-button>
          </md-card-footer>
        </md-card>
      </step>

      <!-- Course Language Step-->
      <step>
        <md-card>
         <md-card-content>
           <h2>Select Course supported languages</h2>
           <md-input-container>
             <md-checkbox ng-model="vm.isEnglishChecked" aria-label="Finished?">
              English
            </md-checkbox>
            <md-checkbox ng-model="vm.isChineseChecked" aria-label="Finished?">
             Chinese
           </md-checkbox>
           <md-checkbox ng-model="vm.isSpanishChecked" aria-label="Finished?">
            Spanish
          </md-checkbox>
          <md-checkbox ng-model="vm.isFrenchChecked" aria-label="Finished?">
           French
         </md-checkbox>
          <md-checkbox ng-model="vm.isOtherChecked" aria-label="Finished?">
            Others
          </md-checkbox>
          <br>
          </md-input-container>
          <br>

          <md-chips ng-if="vm.isOtherChecked" ng-model="vm.otherLanguages" placeholder="Add Languages" md-max-chips="5"></md-chips>

         </md-card-content>
         <md-card-footer>
           <md-button class="md-accent" step-previous>Previous</md-button>
           <md-button class="md-primary  md-raised" step-next=vm.computeCourseLang()>Next Step</md-button>
         </md-card-footer>
        </md-card>
      </step>

      <!-- Course Amenities Step-->
      <step>
        <md-card>
         <md-card-content>
           <h2>Select Course provided amenities</h2>
            <md-input-container>
              <md-checkbox ng-model="vm.isParkingChecked" aria-label="Finished?">
                Parking
              </md-checkbox>
              <md-checkbox ng-model="vm.isWaterChecked" aria-label="Finished?">
                Water
              </md-checkbox>
              <md-checkbox ng-model="vm.isOtherChecked" aria-label="Finished?">
                Others
              </md-checkbox>
            </md-input-container>
            <br>
            <md-chips ng-if="vm.isOtherChecked" ng-model="vm.otherAmenities" placeholder="Add Amentities" md-max-chips="5"></md-chips>
         </md-card-content>
         <md-card-footer>
           <md-button class="md-accent" step-previous>Previous</md-button>
           <md-button class="md-primary  md-raised" step-next="vm.computeCourseAmenities()">Next Step</md-button>
         </md-card-footer>
       </md-card>
      </step>

      <!-- Course Image URL Step-->
      <step>
        <md-card>
          <md-card-content>
            <h2>Paste Image URL</h2>
            <md-input-container>
             <label>Image URL</label>
             <input type="text" ng-model="vm.courseImageUrl" md-maxlength="100">
           </md-input-container>
          </md-card-content>
          <md-card-footer>
            <md-button class="md-accent" step-previous>Previous</md-button>
            <md-button class="md-primary  md-raised" step-next="vm.computeCourseImageUrl()">Next Step</md-button>
          </md-card-footer>
        </md-card>
      </step>

      <!-- Course Price Step-->
      <step>
        <md-card>
         <md-card-content>
           <h2>Specify Course Price (HKD)</h2>
           <md-input-container>
            <label>Price</label>
            <input type="number" ng-model="vm.coursePrice" required name="coursePrice">
          </md-input-container>
         </md-card-content>
         <md-card-footer>
           <md-button class="md-accent" step-previous>Back</md-button>
           <md-button class="md-primary  md-raised" step-next="vm.computeCoursePrice()" ng-disabled="courseForm.coursePrice.$invalid">Next Step</md-button>
         </md-card-footer>
       </md-card>
      </step>

      <!-- Course Schedule Step-->
      <step>
        <md-card>
         <md-card-content>
           <h2>Mention Course Schedule</h2>
           <p>Since this is a recuring Course, please specify your desired course schedule as a normal sentence, press enter to keep adding your desired schedule and finally press finish</p>
           <md-chips ng-model="vm.courseSchedule" placeholder="Add Course Schedule" md-max-chips="5" required name="courseSchedule" ></md-chips>
         </md-card-content>
         <md-card-footer>
           <md-button class="md-accent" step-previous>Previous</md-button>
           <md-button class="md-primary  md-raised" step-next="vm.computeCourseSchedule()" ng-disabled="courseForm.courseSchedule.$invalid">Next Step</md-button>
         </md-card-footer>
       </md-card>
      </step>

      <!-- Start From Step-->
      <step>
        <md-card>
         <md-card-content>
           <h2>When is the Course commencing ?</h2>
           <md-datepicker ng-model="vm.courseStartDate" ng-required name="courseStartDate" ng-min-date="{{vm.minDate}}"></md-datepicker>
         </md-card-content>
         <md-card-footer>
           <md-button class="md-accent" step-previous>Previous</md-button>
           <md-button class="md-primary  md-raised" step-next="vm.computeStartFrom()" ng-disabled="courseForm.courseStartDate.$invalid">Next Step</md-button>
         </md-card-footer>
       </md-card>
      </step>

      <!-- Final Step before saving-->
      <step>
        <md-card>
          <md-card-content>
            <h2>Final Step</h2>
            <p>Please check the final Course details and press submit to continue.</p>
          </md-card-content>
          <md-card-footer>
            <md-button class="md-accent" step-previous>Previous</md-button>
            <md-button class="md-primary  md-raised" step-next="vm.submitCourse()">Submit</md-button>
          </md-card-footer>
        </md-card>
      </step>
    </steps>
  </form>

  <div class="form-summary">
    <md-card>
      <md-card-content>
        <h3>Course Summary.</h3>
        <md-list>
          <md-list-item class="md-2-line" ng-if="vm.isAddress">
            <h4><b>Selected Address</b></h4>
            <h4>:</h4>
            <h4 class="second-cell">{{vm.address}}</h4>
          </md-list-item>

          <md-divider></md-divider>

          <md-list-item class="md-2-line" ng-if="vm.isCourseName">
            <h4><b>Given Course Name</b></h4>
            <h4>:</h4>
            <h4 class="second-cell">{{vm.courseName}}</h4>
          </md-list-item>

          <md-divider></md-divider>

          <md-list-item class="md-2-line" ng-if="vm.isCourseDesc">
            <h4><b>Given Course Description</b></h4>
            <h4>:</h4>
            <h4 class="second-cell">{{vm.courseDesc}}</h4>
          </md-list-item>

          <md-divider></md-divider>

          <md-list-item class="md-2-line" ng-if="vm.isCourseCategory">
            <h4><b>Selected Course Genre</b></h4>
            <h4>:</h4>
            <h4 class="second-cell">{{vm.selectedCourseCategory.categoryName}}</h4>
          </md-list-item>

          <md-divider></md-divider>

          <md-list-item class="md-2-line" ng-if="vm.isCourseLang">
            <h4><b>Supported Course languages</b></h4>
            <h4>:</h4>
            <h4 class="second-cell">{{vm.courseLanguages}}</h4>
          </md-list-item>

          <md-divider></md-divider>

          <md-list-item class="md-2-line" ng-if="vm.isCourseAmenities">
            <h4><b>Provide Amenities to the Course</b></h4>
            <h4>:</h4>
            <h4 class="second-cell">{{vm.courseAmenities}}</h4>
          </md-list-item>

          <md-divider></md-divider>

          <md-list-item class="md-2-line" ng-if="vm.isCourseImageUrl">
            <h4><b>Selected Course Display Image</b></h4>
            <img class="second-cell" src="vm.courseImageUrl" alt="Course Display Image" width="50" height="50">
          </md-list-item>

          <md-divider></md-divider>

          <md-list-item class="md-2-line" ng-if="vm.isCoursePrice">
            <h4><b>Finalized Course Price</b></h4>
            <h4>:</h4>
            <h4 class="second-cell">{{vm.coursePrice}}</h4>
          </md-list-item>

          <md-divider></md-divider>

          <md-list-item class="md-2-line" ng-if="vm.isCourseSchedule">
            <h4><b>Finalized Course Schedule</b></h4>
            <h4>:</h4>
            <h4 class="second-cell">{{vm.courseSchedule}}</h4>
          </md-list-item>

          <md-divider></md-divider>

          <md-list-item class="md-2-line" ng-if="vm.isCourseStartFrom">
            <h4><b>Course Commence Date</b></h4>
            <h4>:</h4>
            <h4 class="second-cell">{{vm.courseStartDate}}</h4>
          </md-list-item>

        </md-list>
      </md-card-content>
    </md-card>
  </div>
</section>
