<section class="user-profile">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h4>Your profile</h4>
      <ul id="profile_summary">
        <li>Username <span>info@clara.com</span></li>
        <li>First name <span>Clara</span></li>
        <li>Last name <span>Tomson</span></li>
        <li>Phone number <span>+00 032 42366</span></li>
        <li>Date of birth <span>13/04/1975</span></li>
        <li>Street address <span>24 Rue de Rivoli</span></li>
        <li>Town/City <span>Paris</span></li>
        <li>Zip code <span>002843</span></li>
        <li>Country <span>France</span></li>
      </ul>
    </div>
  </div><!-- End row -->

  <div class="divider"></div>

  <div class="row">
    <div class="col-md-12">
      <h4>Edit profile</h4>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="form-group">
        <label>First name</label>
        <input class="form-control" name="first_name" id="first_name" type="text">
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="form-group">
        <label>Last name</label>
        <input class="form-control" name="last_name" id="last_name" type="text">
      </div>
    </div>
  </div><!-- End row -->

  <div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="form-group">
        <label>Phone number</label>
        <input class="form-control" name="email_2" id="email_2" type="text">
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="form-group">
        <label>Date of birth <small>(dd/mm/yyyy)</small></label>
        <input class="form-control" name="email" id="email" type="text">
      </div>
    </div>
  </div><!-- End row -->
<button type="submit" class="btn_1 green">Update Profile</button>
</section>
