<section class="home" ng-controller = "HomeCtrl">
  <div class="container margin_60">
      <div class="main_title">
          <h2>Our <span>Top</span> Activities / Courses</h2>
      </div>

      <div class="row">
        <popular-grid ng-repeat = "activity in popularActivityList track by $index" data="activity"></popular-grid>
      </div><!-- End row -->
  </div><!-- End container -->

  <div class="white_bg">
      <div class="container margin_60">
          <div class="main_title">
              <h2>Other <span>Popular</span> tours</h2>
              <p>
                  Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.
              </p>
          </div>
          <div class="row add_bottom_45">
              <div class="col-md-4 other_tours">
                  <ul>
                      <li><a href="#"><i class="icon_set_1_icon-3"></i>Tour Eiffel<span class="other_tours_price">$42</span></a>
                      </li>
                      <li><a href="#"><i class="icon_set_1_icon-30"></i>Shopping tour<span class="other_tours_price">$35</span></a>
                      </li>
                      <li><a href="#"><i class="icon_set_1_icon-44"></i>Versailles tour<span class="other_tours_price">$20</span></a>
                      </li>
                      <li><a href="#"><i class="icon_set_1_icon-3"></i>Montparnasse skyline<span class="other_tours_price">$26</span></a>
                      </li>
                      <li><a href="#"><i class="icon_set_1_icon-44"></i>Pompidue<span class="other_tours_price">$26</span></a>
                      </li>
                      <li><a href="#"><i class="icon_set_1_icon-3"></i>Senna River tour<span class="other_tours_price">$32</span></a>
                      </li>
                  </ul>
              </div>
              <div class="col-md-4 other_tours">
                  <ul>
                      <li><a href="#"><i class="icon_set_1_icon-1"></i>Notredame<span class="other_tours_price">$48</span></a>
                      </li>
                      <li><a href="#"><i class="icon_set_1_icon-4"></i>Lafaiette<span class="other_tours_price">$55</span></a>
                      </li>
                      <li><a href="#"><i class="icon_set_1_icon-30"></i>Trocadero<span class="other_tours_price">$76</span></a>
                      </li>
                      <li><a href="#"><i class="icon_set_1_icon-3"></i>Open Bus tour<span class="other_tours_price">$55</span></a>
                      </li>
                      <li><a href="#"><i class="icon_set_1_icon-30"></i>Louvre museum<span class="other_tours_price">$24</span></a>
                      </li>
                      <li><a href="#"><i class="icon_set_1_icon-3"></i>Madlene Cathedral<span class="other_tours_price">$24</span></a>
                      </li>
                  </ul>
              </div>
              <div class="col-md-4 other_tours">
                  <ul>
                      <li><a href="#"><i class="icon_set_1_icon-37"></i>Montparnasse<span class="other_tours_price">$36</span></a>
                      </li>
                      <li><a href="#"><i class="icon_set_1_icon-1"></i>D'Orsey museum<span class="other_tours_price">$28</span></a>
                      </li>
                      <li><a href="#"><i class="icon_set_1_icon-50"></i>Gioconda Louvre musuem<span class="other_tours_price">$44</span></a>
                      </li>
                      <li><a href="#"><i class="icon_set_1_icon-44"></i>Tour Eiffel<span class="other_tours_price">$56</span></a>
                      </li>
                      <li><a href="#"><i class="icon_set_1_icon-50"></i>Ladefanse<span class="other_tours_price">$16</span></a>
                      </li>
                      <li><a href="#"><i class="icon_set_1_icon-44"></i>Notredame<span class="other_tours_price">$26</span></a>
                      </li>
                  </ul>
              </div>
          </div><!-- End row -->

          <div class="banner colored">
              <h4>Discover our Top Activites / Courses <span>from $34</span></h4>
              <div>
                <a ui-sref="activities" class="btn_1 white" style="position:absolute; right:12em;">Activties</a>
                <a href="single_tour.html" class="btn_1 white">Courses</a>
              </div>
          </div>
          <div class="row">
              <div class="col-md-3 col-sm-6 text-center">
                  <p>
                      <a><img src="../img/corporate-event.jpg" alt="Pic" class="img-responsive grid-img"></a>
                  </p>
                  <h4><span>Corporate event</span> packages</h4>
                  <p>
                    Organizing Corporate event for a day filled with joy and happiness, with flawless efforts from management.
                  </p>
              </div>
              <div class="col-md-3 col-sm-6 text-center">
                  <p>
                    <a><img src="../img/family-fun.jpg" alt="Pic" class="img-responsive grid-img"></a>
                  </p>
                  <h4><span>Family</span> fun time</h4>
                  <p>
                    Enjoy you weekend / holidays with you families with lots of family fun times. For the relaxed and desired time with your loved ones.
                  </p>
              </div>
              <div class="col-md-3 col-sm-6 text-center">
                  <p>
                    <a><img src="../img/event-manage.jpg" alt="Pic" class="img-responsive grid-img"></a>
                  </p>
                  <h4><span>Event guide</span> booking</h4>
                  <p>
                    Guidance for events from the best event management teams to choose from, also to have a fun filled activites.
                  </p>
              </div>
              <div class="col-md-3 col-sm-6 text-center">
                  <p>
                    <a><img src="../img/instruct-courses.jpg" alt="Pic" class="img-responsive grid-img"></a>
                  </p>
                  <h4><span>Instructed</span> courses</h4>
                  <p>
                    Best of courses from various categories, to choose from. Get slot and learn the one which you so wished / dreamed of learning it.
                  </p>
              </div>
          </div><!-- End row -->
      </div><!-- End container -->
  </div><!-- End white_bg -->

  <section class="promo_full">
    <div class="promo_full_wp magnific">
        <div>
          <h3>BELONG ANYWHERE</h3>
          <a href="https://www.youtube.com/watch?v=Zz5cu72Gv5Y" class="video"><i class="icon-play-circled2-1"></i></a>
        </div>
    </div>
  </section><!-- End section -->

  <div class="container margin_60">
      <div class="main_title">
        <h2>Some <span>good</span> reasons</h2>
        <p>
          Thinking what makes it so awesome, well think again.
        </p>
      </div>
      <div class="row">
        <div class="col-md-4 wow zoomIn" data-wow-delay="0.2s">
            <div class="feature_home">
              <i class="icon_set_1_icon-41"></i>
              <h3><span>+120</span> Premium packages</h3>
              <p>
                Get premium packages for family activities / corporates acitivies with all the necessary amenities and additional services provided at the venue.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow zoomIn" data-wow-delay="0.4s">
              <div class="feature_home">
                  <i class="icon_set_1_icon-30"></i>
                  <h3><span>+100</span> activites / courses</h3>
                  <p>
                    More to choose from, to your favourite hobbies to get on track with. Choose activities / courses from many category. Your adventure in not limited.
                  </p>
              </div>
          </div>

          <div class="col-md-4 wow zoomIn" data-wow-delay="0.6s">
              <div class="feature_home">
                  <i class="icon_set_1_icon-57"></i>
                  <h3><span>H24 </span> Support</h3>
                  <p>
                    Get direct contacts and help from the event hosts, for guidance to the venue / to know more about it or get in contact with Day to table team for guidance.
                    Help is always at your finger tips.
                  </p>
              </div>
          </div>

      </div><!--End row -->

      <hr>

      <div class="row">
          <div class="col-md-8 col-sm-6 hidden-xs">
              <img src="img/laptop.png" alt="Laptop" class="img-responsive laptop">
          </div>
          <div class="col-md-4 col-sm-6">
              <h3><span>Get started</span> with Day To Table</h3>
              <p>
                  Day To Table brings fun filled activites / courses for your family at your finger tips. Just choose, book your slot and enjoy.
              </p>
              <ul class="list_order">
                  <li><span>1</span>Select your preferred activities / courses</li>
                  <li><span>2</span>Book your slot and pay them at the venue.</li>
                  <li><span>3</span>Pay only for the ones you would attend.</li>
              </ul>
          </div>
      </div><!-- End row -->
  </div><!-- End container -->
</section>
