<section class="addCourse">
  <h1 class="md-headline">
    Add a new course.
  </h1>

  <ms-form-wizard flex>
    <form name="wizardStep1" class="md-inline-form" ms-form-wizard-form novalidate>
        <div layout="column" layout-gt-xs="row" flex>
            <md-input-container flex="100" flex-gt-xs="50">
                <input type="text" name="courseName" ng-model="vm.formWizard.courseName" placeholder="Course Name" required>
                <div ng-messages="wizardStep1.courseName.$error" ng-show="wizardStep1.courseName.$touched" role="alert">
                    <div ng-message="required">
                        <span>Course Name is required.</span>
                    </div>
                </div>
            </md-input-container>
        </div>

        <div layout="column" layout-gt-xs="row" flex>
          <md-input-container flex="100" flex-gt-xs="50">
              <label>Description</label>
              <textarea ng-model="vm.formWizard.description" columns="1" required></textarea>
              <div ng-messages="wizardStep2.description.$error" ng-show="wizardStep2.description.$touched" role="alert" multiple>
                  <div ng-message="required"><span>Description field is required.</span></div>
              </div>
            </md-input-container>
        </div>

        <div layout="column" layout-gt-xs="row" flex>
            <md-input-container class="md-block">
                <input type="number" name="price" ng-model="vm.formWizard.price" placeholder="Price is HKD" required>
                <div ng-messages="wizardStep1.price.$error" ng-show="wizardStep1.price.$touched" role="alert">
                    <div ng-message="required">
                        <span>Price is required.</span>
                    </div>
                </div>
            </md-input-container>
        </div>

        <div layout="column" layout-gt-xs="row" flex>
            <md-input-container flex="50" flex-gt-xs="10">
                <input type="text" name="amenities" ng-model="vm.formWizard.amenities" placeholder="Enter Amenities, by separting them with commas" required>
                <div ng-messages="wizardStep1.amenities.$error" ng-show="wizardStep1.amenities.$touched" role="alert">
                    <div ng-message="required">
                        <span>Amenities is required.</span>
                    </div>
                </div>
            </md-input-container>
        </div>

        <div layout="column" layout-gt-xs="row" flex>
          <md-input-container flex="100" flex-gt-xs="50">
              <label>Address</label>
              <textarea ng-model="vm.formWizard.address" columns="1" md-maxlength="150" rows="5" required></textarea>
              <div ng-messages="wizardStep2.address.$error" ng-show="wizardStep2.address.$touched" role="alert" multiple>
                  <div ng-message="required"><span>Address field is required.</span></div>
                  <div ng-message="md-maxlength">
                      <span>Address can't be longer than 150 characters.</span>
                  </div>
              </div>
          </md-input-container>
        </div>
    </form>
  </ms-form-wizard>
</section>
